$primary:#BA0F31;
// font size
$regularSize:1rem;
$bigSize:1.5rem;
$smallSize:1.15rem;

// bg color
$bg:#272b33;
$cardBg:#9F9F9F;
$alive:green;
$dead:red;
$unknown:#E4DFDF;

// color
$white:#FFFFFF;
$lightGray:#F7F7F7;
$black:#202329;
$grayHeading:#DFDFDF;
$orange:#FF9800;

